/* AddCategory.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(213, 206, 206);
}

.form-title {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.category-form {
  background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  color: black;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: black;
}

.submit-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #333;
}
